@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root {
    --font-family: 'Kanit', sans-serif;
    --bg-color: #62CDFF;
    --primary-color: #4D455D;
}

body {
    background-color: var(--bg-color);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--primary-color)
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.message {
    margin-top: 20px;
    font-size: 2em;
}

.secret-number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    margin: 10px 0;
    padding: 10px;
    font-size: 4em;
    display: inline-block;
    border: 2px solid #9ADCFF;
}

.tips {
    font-size: 1.5em;
}

.btn-attempt {
    border: 0;
    font-size: 0.9em;
    margin-top: 30px;
    background-color: #B4E4FF;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}